*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*************** title component starts **********/

.title {
  text-align: center;
  font-family: sans-serif;
}

.title p {
font-family: 'Roboto', sans-serif;
  display: inline-block;
  margin: 20px 0 !important;

  font-size: 1.8rem;
  color: rgba(0, 0, 0, 0.8);
}

.title div {
  width: 7rem;
  height: 6px;
  background-color: #3f51b5;
  margin: 0px auto 30px;
}

@media screen and (max-width: 800px) {
  .title p {
    margin: 10px 0 !important;
    font-size: 1.5rem;
  }

  .title div {
    width: 5rem;
    height: 5px;
  }
}

@media screen and (max-width: 500px) {
  .title p {
    margin-top: 10px !important;
    font-size: 1.2rem;
  }

  .title div {
    width: 3rem;
    height: 5px;
    margin: 10px auto 20px;
  }
}

/*************** title component starts **********/


/* navbar starts *****************************/

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navLeft {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}

.navRight .loginButton {
  font-size: 1rem;
  color: white;
}

.burgerBar {
  display: none;
}

@media screen and (min-width: 900px) {
  .logoTitle {
    font-size: 1.7rem !important;
    letter-spacing: 2px !important;
  }
}

@media screen and (max-width: 750px) {
    .nav
    {
      display: block!important;
    }

    .logoTitle {
       padding-left: 14px;
       
      }
  .burgerBar {
    display: block;
  }

  .navLeft {
    width: 100%;
    display: flex;
    padding-top: 10px;
    justify-content: space-between;
    align-items: center;
  }

  .navRight .loginButton {
    display: block;
    }

  .navRight {
    text-align: center; 
    display: none;
   
  }

}


@media screen and (max-width: 900px) {
  .logoTitle {
    font-size: 1.5rem !important;
  }

  .navRight .loginButton {
    font-size: 0.9rem !important;
    color: white;
  }
}

@media screen and (max-width: 600px) {
  .logoTitle {
    font-size: 1.2rem !important;
  }

/************** navbar ends ****************/


 /*********** buttons addnewWorker and editWorkerBtn*/

  .addnewWorker {
    font-size: 1rem !important;
  }
}

.editWorkerBtn {
  margin: 30px 0 !important;
}


.hide {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  
}

/**************** logout section starts */


.logoutSection
{
    font-family: sans-serif;
    display: grid;
    place-items: center;
    min-height: 40vh;

}

.logoutIn
{
    font-family: 'Roboto', sans-serif;
    padding:2rem;
    font-size: .7rem!important;
    

}

@media screen and (min-width:700px){
    .logoutIn
{
  
    padding:1.5rem;
    font-size: 1rem!important;
    
}
}


/******************* Modal section starts */

.showModal{
  display: block;
}

.hideModal{
  display: none;
}


.modalOverlay
{
  position: fixed;
  display: grid;
  place-items: center;
  min-height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
}


.modalInner
{
  background-color: white;
  padding: 2rem 3rem;
  font-family: 'Roboto', sans-serif;
  border-radius: 5px;
  position: relative;
  box-shadow: 0 0 5px 0px rgba(255, 255, 255, 0.8);

}

.CloseModelIcon
{
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 2.5rem!important;
    cursor: pointer;
}



/************** user registerlinkbelowlogin */

.registerLink
{
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  cursor: pointer;
}

/******************* pagination starts */

.paginateClass
{
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 50px 30px 50px auto;
  width: 64%;
  

}


.paginateInner
{
 display: inline-block;

}


.ngoSection
{
  max-width: 60vw;
  margin: 0 auto;
}


.ngoNameList
{
  
  text-align: center;
  padding: 20px;
  
  font-family: 'Roboto',sans-serif;
  font-size: 1.4rem;
  max-width: 500px;
  margin: 20px auto;
  background-color: white;
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.7);
  border-radius: 4px;
}

/************* worker filter categoryinput */
.categoryMargin
{
  /* margin-top: -7px!important; */
}


/************* workerinfoinput starts******* */

.workerInputSection
{
  padding-bottom: 50px;
}




/* error page starts****************** */

.errorSection,.spinnerSection
{
  display: grid;
  place-items: center;
  min-height: 70vh;
}


.summaryFilter
{
  
  margin: 0 auto;
  margin-top: 50px;
}

.summaryListInner
{
 
  margin: 50px auto;
 
}

.summarySection,.summaryNgoSection,.summaryKilnSection
{
 width: 70vw;
  margin: 0 auto;
  font-family: 'Roboto';
}


@media screen and (max-width:900px){

  .summarySection,.summaryNgoSection,.summaryKilnSection
  {
   width: 90vw;
  
  }
}






@media screen and (max-width:600px)
{
  .AmountBar
  {
    font-size: 1rem!important;
  }
}

.summarylistTotal
{
  /* border: 1px solid red; */
  margin-left: 0!important;
}

.SummaryDropDown
{
  width: 70%;
}


.SelectedWorkers
{
  width: 95%;
  margin: 0 auto!important;
  margin-top: 30px!important;
  /* padding: 0 15px; */
  
 
  
}


.sortedOutof
{
  color: green;
}

.sortedOutoflength
{
  color: rgb(220, 0, 78);
}


/**************tabs compart************** */


.tabs-titles{
  list-style: none;
  width: 70vw;
  margin: 0 auto!important;
  display: flex;
  justify-content: space-between;

  
}

.tab-title{
 
  padding:15px 10px;
  color: black;
  cursor: pointer;
  margin-left:1px;
  margin-top: 15px!important;
  margin-bottom: 15px!important;
  text-align: center;
  font-size: 1.4rem!important;
  width: 100%;
}

.tab-title--active {
 border-bottom: 2px solid blue;
  color: blue;
}

@media screen and (max-width:1000px){

.tab-title{
  font-size: 1.1rem!important;
}

}

@media screen and (max-width:900px){

  .Totalpaidamount
  {
        font-size: 1.2rem!important;
  }
  
  }


  @media screen and (max-width:600px){

    .Totalpaidamount
    {
          font-size: 1rem!important;
    }
    .tab-title{
      font-size: .9rem!important;
    }
    }


    @media screen and (max-width:900px){

      .tabs-titles{
      
        width: 90vw;
      }
    
    }



.workerList-Section,.kilnList-Section
{
  width: 90vw;
  margin: 0 auto;
 
}

.ngolist-Section{
  width: 90vw;
  margin: 0 auto 50px;
}




.ngosummaryLink
{
  
  text-align: right;
  margin-bottom: 0;
  margin-top: 30px;
  display: flex;
  justify-content: end;
}

.ngosummaryLink a h1
{
  margin-right: 0px!important;
}

.ngosummaryLink a
{
  text-decoration: none!important;
}

.ngosummarytext
{
  /* margin-right: 20px!important; */
}


.newSummary
{
  display: grid;
  place-items: center;
  width:50%;
  margin: 2em auto;
 
}

@media screen and (max-width:900px){

  .newSummary{
  
    width: 90vw;
  }

}

.CsvBtnSec
{
  display: flex;
}

.csvbtn
{
  margin-top: 50px;
  margin-right: 28px;
}

